version: "3.1"
services:
    minimoonatlas:
        container_name: minimoonatlas_instance
        build: .
        networks:
            - web
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.jrcan.rule=Host(`atlas.ltdle.netlib.re`)"
            - "traefik.http.routers.jrcan.entrypoints=websecure"
        restart: always
    
networks:
  web:
    external: true
